<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

2N Control
Ts65Dn

Neophobia - Novel Food
Neophobia - Novel Environ
Neophobia - Novel Food &amp; Environ
Latency (s)
Latency (s)
Latency (s)
2N Control
Ts65Dn

Nesting - First Contact
Nesting - First Dig
Nesting - Complete Nest
Latency (s)
Latency (s)
Latency (s)
2N Control
Ts65Dn

Capellini - Paws Together
Capellini - Paw Loses Contact
Capellini - Mouth Pull
Number
Number
Number
2N Control
Ts65Dn

Capellini - Latency to Eat
Capellini - Total Atypical
Latency (s)
Number
2N Control
Ts65Dn

Latency to Reward
Percent Latency to Reward
Latency (s)
Percent Day 1
Blocks of 4 Trials
2N Control
Ts65Dn

Distance to Reward
2N Control
Ts65Dn
Percent Distance to Reward
Distance (cm)
Percent Day 1
Blocks of 4 Trials

Probe Trial - Dwell Time
No Distal Cues
Distal Cues
Probe Trial - Distance from Goal
No Distal Cues
Distal Cues
Percent Dwell Time 
Mean Distance
2N Control
Ts65Dn

a
b
c
d
e
f

a
b
c
d
e

a
b
c
d

a
b
c
e
f
d

a
b
c
d
f
g
e

a
b
c
d
f
e
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
